<a href="https://colab.research.google.com/github/farhanasajeer/correlation-regression/blob/main/carsCORR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/cars.csv',delimiter=';')

In [ ]:
data.head()

                         Car     MPG Cylinders  ... Acceleration Model Origin
0                     STRING  DOUBLE       INT  ...       DOUBLE   INT    CAT
1  Chevrolet Chevelle Malibu    18.0         8  ...         12.0    70     US
2          Buick Skylark 320    15.0         8  ...         11.5    70     US
3         Plymouth Satellite    18.0         8  ...         11.0    70     US
4              AMC Rebel SST    16.0         8  ...         12.0    70     US

[5 rows x 9 columns]

In [ ]:
data.shape

(407, 9)

In [ ]:
data.isna().sum()

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

In [ ]:
# data=pd.get_dummies(data)
# data.head()

In [ ]:
# find the correlation using corr function

corrmatrix=data.corr()
plt.subplots(figsize=(10,4))
# using the heatmap function, we plot the correlation matrix
# vmin and vmax reprasents the minimum and maximum correlation values
# annot is used to give annotations inside eachcorrelation to specify the values inside each correlation cell
# cmap reprasents the color of the plot

sns.heatmap(corrmatrix, vmin=2, vmax=1, annot=True,linewidths=0.2,cmap='YlGnBu')